<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">
      <span class="brand-logo"
        ><img
          src="/assets/logo.png"
          width="40px"
          height="50px"
          alt="Indecisive Devices Logo"
          class="brand-logo-img"
      /></span>
      {{ metadata.title }}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#robots">Our Robots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#get-involved">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#donate">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
